body {
    padding: 22px;
    letter-spacing: .04em;
    font-size: 12pt;
    line-height: 20pt !important;
    font-family: Helvetica, Arial, sans-serif;
    /*font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;*/
    color: #555;
    text-align: justify;
    kerning: automatic;
}
a {
    text-decoration: none;
}
#content {
    max-width: 964px;
    margin: 0 auto;
}
p {
    max-width: 952px;
}
h1 {
    padding: 8px 0 8px 0;
    text-rendering: optimizelegibility;
    /*letter-spacing: .08em;*/
    margin-top: 21px;
    margin-bottom: 10.5px;
}
footer {
    margin-top: 22px;
    padding-top: 22px;
    text-align: center;
    font-size: 9pt;
}
hr {
    border-top: 1px solid #eee;
}
#main {
    padding: 8px;
    padding-bottom: 28px;
    border-top: 1px #eee solid;
    border-bottom: 1px #eee solid;
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
}
h3 {
    font-size: 125%;
    line-height: 24pt !important;
    margin-bottom: -12px;
    font-family: Helvetica, Arial, sans-serif;
}
.company-name {
    font-weight: 700;
}
.company-info {
    text-align: left;
    margin-left: 360px;
}
.products {
    display: none;
}
.location {
    display: none;
}
span.var {
    font-weight: 700;
}
.search-container {
    width: 310px;
    margin-top: 18px;
    margin-right: 12px;
    float: right;
}
#company-total {
    max-width: 460px;
    float: left;
}
.null {
    color: #ddd;
}
#map {
    /*font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;*/
    margin-bottom: 12px;
}
sup {
    font-size:80%;
}
.selectize-dropdown, .selectize-input, .selectize-input input {
    text-align:left;
}

#details {
    margin-top: 28px;
}
